.success {
    color: green; 
    width: 100%;
    border: 1px solid green; 
}

.error {
    color: red; 
    width: 100%; 
    border: 1px solid red; 
}

.blog-entry {
    border-bottom: 1px solid black;
    width: 400px;
    margin: 5px; 
    font-size: 1.1rem;
}

.button-add-form {
    margin-top: 5px; 
}